<!DOCTYPE html>
<html lang="en" ng-app="spinClass">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Spin Class</title>

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/flipclock.css">

        <style>
            body {
                padding-top: 70px;
            }
            #bars {
                padding-top: 10px;
            }
            .progress {
                margin: 2px;
                border: 1px solid #e1e1e8;
                border-radius: 4px;
                width: 1.5em;
            }
            .progress-bar {
                width: 100%;
                padding: 0px;
                margin: 0px;
            }
            #spin-form {
                padding-bottom: 20px;
            }
            .clock {
                margin-left: -4px;
            }
            .stats {
                font-weight: bold;
            }
            .flip-clock-label {
                display: none;
            }
        </style>
    </head>
    <body ng-controller="Spin as spin">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Spin Class</a>
                </div>
                <div class="collapse navbar-collapse">
                    <div ng-show="spin.prefix">
                        <p class="stats navbar-text pull-right" id="failed">Failed: <span class='count'>{{ spin.failed }}</span> (<span class='percent'>{{ spin.percent(spin.failed) }}</span>%)</p>
                        <p class="stats navbar-text pull-right" id="complete">Complete: <span class='count'>{{ spin.success }}</span> (<span class='percent'>{{ spin.percent(spin.success) }}</span>%)</p>
                        <p class="stats navbar-text pull-right" id="building">{{ spin.action() }}: <span class='count'>{{ spin.building }}</span> (<span class='percent'>{{ spin.percent(spin.building) }}</span>%)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <form class="form-inline" ng-submit="spin.spinUp(spin.count);">
                    <div class="form-group">
                        <input type="text" class="form-control" id="count" name="count" placeholder="Count" ng-model="spin.count" required>
                    </div>
                    &nbsp;&nbsp;<button type="submit" id="spin" class="btn btn-primary" ng-disabled="spin.prefix">Start Spinning</button>
                    &nbsp;&nbsp;<button type="button" id="down" class="btn btn-danger" ng-show="spin.prefix" ng-disabled="spin.down" ng-click="spin.spinDown(spin.prefix)">Spin Down</button>
                </form>
                <div class="clock flip-clock-wrapper">
                    <ul class="flip">
                        <li class="flip-clock-active">
                            <a href="#">
                                <div class="up">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.minutes|doubledstring)[0] }}
                                    </div>
                                </div>
                                <div class="down">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.minutes|doubledstring)[0] }}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="flip">
                        <li class="flip-clock-active">
                            <a href="#">
                                <div class="up">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.minutes|doubledstring)[1] }}
                                    </div>
                                </div>
                                <div class="down">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.minutes|doubledstring)[1] }}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <span class="flip-clock-divider seconds">
                        <span class="flip-clock-dot top"></span>
                        <span class="flip-clock-dot bottom"></span>
                    </span>
                    <ul class="flip">
                        <li class="flip-clock-active">
                            <a href="#">
                                <div class="up">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.seconds|doubledstring)[0] }}
                                    </div>
                                </div>
                                <div class="down">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.seconds|doubledstring)[0] }}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="flip">
                        <li class="flip-clock-active">
                            <a href="#">
                                <div class="up">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.seconds|doubledstring)[1] }}
                                    </div>
                                </div>
                                <div class="down">
                                    <div class="shadow"></div>
                                    <div class="inn">
                                        {{ (spin.seconds|doubledstring)[1] }}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="bars">
                    <div class="progress pull-left" ng-repeat="(iid, instance) in spin.instances">
                        <progressbar class="progress-bar" value="100" type="{{ instance.StatusType }}" tooltip-html-unsafe="Status: {{ instance.Status }}<br>Progress: {{ instance.Progress }}"></progressbar>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="/app.js"></script>
    </body>
</html>
